@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen leading-normal font-space-mono bg-primary-300 flex flex-col items-center gap-y-10 lg:gap-y-[88px] justify-between lg:justify-normal;
  }
  label,
  p {
    @apply text-neutral-700;
  }
}

@layer utilities {
  .default-input {
    @apply pr-4 w-full text-right text-2xl text-primary-700 caret-primary-500 bg-neutral-200 border-0 py-1.5 rounded-[5px] leading-9 outline-none;
  }

  .default-input-hover {
    @apply hover:outline-2 hover:outline-primary-500 focus:outline-primary-500 focus:outline-2;
  }

  .btn {
    @apply text-neutral-100 text-center cursor-pointer border-0 rounded-[5px] text-2xl leading-9 py-1.5 bg-primary-700 hover:text-primary-700 hover:bg-primary-400;
  }
}
input,
button,
textarea,
select {
  font: inherit;
}

main {
  box-shadow: 0px 32px 43px 0px hsla(185, 38%, 50%, 0.2);
}

html:focus-within {
  scroll-behavior: smooth;
}

.input-icon {
  position: absolute;
  inset: 22px 0 0 17px;
}

input.invalid {
  outline: 2px solid #e17457;
}

.error {
  color: #e17457;
  z-index: 5;
  position: absolute;
  top: -24px;
  right: 0;
}

.custom-error {
  color: #e17457;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
}

.active {
  color: #00494d !important;
  cursor: pointer !important;
  opacity: 1 !important;
  background-color: #26c0ab !important;
}

.active:hover {
  opacity: 1;
  background-color: #a1e8e0 !important;
}
